<%- include('partials/header') %>
<div align="center" class="form-group">

    <button class="btn btn-info"> <a href="/register"  >Register </a></button>
    <button class="btn btn-warning" type="button">  <a href="/login"  >Login</a></button>
</div>
<div class="form-container">
    <h2>Search Engine</h2>
    <% if(locals.error) { %>
        <div class="alert alert-danger"><%= error %></div>
    <% } %>
    <% if(locals.success) { %>
        <div class="alert alert-success"><%= success %></div>
    <% } %>

<form class="" id="labanol" method="get" >
  <div class="form-group">

      <input type="text" height= "30px" width= 50px placeholder="search a book" id="title" class="form-control" />
      <img onclick="startSearch()" src="//i.imgur.com/cHidSVu.gif" />
      <button type="button" class="btn btn-primary" onclick="searchTitles()" name="button">Go</button>
  </div>

</form>


</div>

<script type="text/javascript">

    function startSearch() {

      if (window.hasOwnProperty('webkitSpeechRecognition')) {

        var recognition = new webkitSpeechRecognition();

        recognition.continuous = false;
        recognition.interimResults = false;

        recognition.lang = "en-US";
        recognition.start();

        recognition.onresult = function(e) {
          document.getElementById('title').value
                                   = e.results[0][0].transcript;
          recognition.stop();
          // document.getElementById('title').submit;
          searchTitles();
        };

        recognition.onerror = function(e) {
          recognition.stop();

        }

      }
    }


      function searchTitles(){
        var Title = document.getElementById("title").value;
        var titlestrip = Title.replace(/(<([^>]+)>)/gi, "");
        localStorage.setItem('title',titlestrip);
         window.location.href='/api/users/serp';

//   var title = document.getElementById("title").value;
//   var userObj={
//     'title': title
//
//   }
//   var xhttp = new XMLHttpRequest();
//     xhttp.onreadystatechange = function() {
//       if (this.readyState == 4 && this.status == 200) {
//         window.location.href='/index';
//         //document.getElementById("demo").innerHTML = this.responseText;
//         console.log(this.responseText);
//       }
// };
//
//     xhttp.open("GET", "/api/users/search", true);
//     xhttp.setRequestHeader("Content-type", "application/json");
//     xhttp.send(JSON.stringify(userObj));

}

</script>
<%- include('partials/footer') %>
